*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
    color:floralwhite;
}
.container{
    height: 100vh;
    width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}
.box form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-items: center;
    position: relative;
    width: 400px;
    height: 400px;
    background-color:darksalmon;
    border-radius: 5px;
    overflow: hidden;
}
.form1{
    position: absolute;
    
    left: 80px;
}
.form2{
    position: absolute;
    left: 400px;
}
.form3{
    position: absolute;
    left: 400px;
}
form h3{
    font-size: 28px;
    padding-bottom: 20px;
}
form .input input{
    font-size: 18px;
    width: 100%;
    padding:5px; 
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ffffff;
    outline: none;
    background: transparent;
}
.input input::placeholder{
    color:slategrey;
    font-size: 14px;
    padding-bottom: 3px;
}
.button .nxtbtn , .button .prvbtn, .button .submit{
    padding: 10px 20px;
    background-color:indianred;
    color:ivory;
    font-weight: 600;
    border:none;
    outline: none;
    border-radius: 2px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all ease 0.5s;
}
.button .nxtbtn{
    float:right;
}
.button .prvbtn{
    float:left;
}
.button .submit{
    float:right;
}
/*.button .nxtbtn:hover, .prvbtn:hover, .submit:hover{
    padding: 5px;
    background-color:ivory;
    color:indianred;
    font-size: 16px;
}
*/

